<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">About</h4>
    <p class="mb-0">This is my blog, where I post about technology and other subjects
        that interest me.</p>
</div>