<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Facebook, Instagram and Whatsapp are down for 7 hours!</h1>
        <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            aspernatur
            minima sint perspiciatis, cupiditate deleniti, repellat iure, aliquid recusandae
            veritatis
            numquam placeat debitis nostrum soluta. Ullam incidunt velit fugiat ipsum.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>