
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">Technology</a>
        <a class="p-2 link-secondary" href="#">Education</a>
        <a class="p-2 link-secondary" href="#">Games</a>
        <a class="p-2 link-secondary" href="#">Books</a>
        <a class="p-2 link-secondary" href="#">Movies</a>
        <a class="p-2 link-secondary" href="#">Business</a>
    </nav>
</div>
</div>