<%- contentFor('body') %>
    <main class="form-signup">
        <form method="post" action="/dashboard/categories/new">
            <h1 class="h3 mb-3 fw-normal">New Category</h1>
            <% if(error) { %>
                <div class="alert alert-danger" role="alert">
                    <%=error %>
                </div>
            <% } %>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name" >
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Description" name="description" >
              <label for="floatingInput">Description</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

        </form>
        
    </main>