<%- contentFor('body') %>

<main class="form-signup">
    <div class="alert alert-success" role="alert">
        Account registered successfully!
    </div>
    <p>
        You will be redirected for the home page!
    </p>
    <p>
        Case you are not redirected, <a href="/">click here</a>
    </p>
</main>
<script>
    setTimeout(() => { window.location.href = '/' }, 3000)
</script>